.combined_wrapper {
  padding: 0;
  background: linear-gradient(135deg, #329fff 1%, #8c00ff 100%);
  height: 100%;
  position: fixed;
  width: 100%;
  /* top: 10px; */
  bottom: 10px;
  z-index: -99;
}
.combined_reload {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.combined {
  color: #fff;
  width: 316px;
  height: 100px;
  position: absolute;
  /*top: 0;*/
  left: 0;
  right: 0;
  bottom: 43px;
  margin: auto;
}
.combined_shape {
  position: relative;
}
.combined_shape > * {
  width: 50%;
  height: 64px;
  position: absolute;
  overflow: hidden;
}
.combined_shape > * > * {
  width: 100%;
  height: 100%;
  background: #fff;
}
.combined_shape .shape_left {
  left: 0;
}
.combined_shape .shape_right {
  right: 0;
}
.combined .title {
  font-size: 58px;
  letter-spacing: 8px;
  position: absolute;
  width: 350px;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.combined_bar {
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 70px;
}
.combined .content {
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 78px;
}
