body{
  margin: 0;
  padding: 0;
}
.normal {
  font-family: Georgia, sans-serif;
  width: 310.4px;
  height: 262.4px;
  position: fixed;
  top: 50px;
  /*bottom: 0;*/
  left: 0;
  right: 0;
  margin: auto;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 310.4px 262.4px;
  -webkit-animation:bounceIn 1s .2s ease both;
  -moz-animation:bounceIn 1s .2s ease both;
}
@-webkit-keyframes bounceIn{
  0%{opacity:0;
    -webkit-transform:scale(.3)}
  50%{opacity:1;
    -webkit-transform:scale(1.05)}
  70%{-webkit-transform:scale(.9)}
  100%{-webkit-transform:scale(1)}
}
@-moz-keyframes bounceIn{
  0%{opacity:0;
    -moz-transform:scale(.3)}
  50%{opacity:1;
    -moz-transform:scale(1.05)}
  70%{-moz-transform:scale(.9)}
  100%{-moz-transform:scale(1)}
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
.combined_wrapper {
  /*background: linear-gradient(135deg, #329fff 1%, #8c00ff 100%);*/
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 27px;
  box-sizing: border-box;
}
.intorduce_bac {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #329fff 1%, #8c00ff 100%);
  overflow: hidden;
  padding: 27px;
  box-sizing: border-box;
  position: relative;
}
